<div class="card-div">
  <mat-card class="fancard">
    <mat-card-header>
      <img mat-card-avatar src={{fan.teamImageUrl}}>
      <mat-card-title><b>Name</b>: {{fan.firstName}} {{fan.lastName}}</mat-card-title>
      <mat-card-subtitle>{{fan.teamName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div style="display: table">
        <span style="display: table-cell; vertical-align: middle;"><img src={{fan.imageUrl}} style="vertical-align: middle;"></span>
        <span style="display: table-cell">
          <table>
            <tr>
              <td style="font-weight: bold">Address:</td>
              <td>{{fan.address}}, {{fan.city}}, {{fan.state}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Age:</td>
              <td>{{fan.age}} [{{fan.birthDate}}]</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Likes:</td>
              <td>{{fan.posTeams}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold">Dislikes:</td>
              <td>{{fan.negTeams}}</td>
            </tr>
          </table>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
